.page1{
    padding: 40px;
    text-align: center;
    color: #e63946;
    background-color:lightpink ;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    font-style: italic;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
}
.yes{
    font-size: 20px;
    color: white;
    background-color:#e63946 ;
    border-color: white;
    

}
.yes a{
    text-decoration: none;
    color: white;
}
.no
{
    font-size: 20px;
    color: white;
    background-color:#e63946 ;
    border-color: white;
    


position: relative;
    top: 30px;
    animation: moveLR 2s infinite alternate linear;
}
@keyframes moveLR {
    from {
        left: 0;
    }
    to {
        left: 250px;
    }
}
